@page "/boards/delete/{BoardId:int}"
@inject HttpClient Http
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Newtonsoft.Json
@using SurfsUp.Utility
@using SurfsUp.Models
<h3>Are you sure you want to delete this?</h3>
<button value="Delete" class="btn btn-danger" @onclick="HandleValidSubmit">Delete</button>

@code {
    [Parameter]
    public int BoardId { get; set; }

    private async Task HandleValidSubmit()
    {
        string request = $"v1/board/{BoardId}";
        await Http.DeleteAsync(request);
        Navigation.NavigateTo("/boards");
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (/*!user.IsInRole(StaticDetails.Role_User_Admin*/!user.Identity.IsAuthenticated)
        {
            Navigation.NavigateTo("/");
            return;
        }

        base.OnInitialized();
    }
}
