html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btnSearch {
    margin-left: 7px;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

animation-div {
    
}

.animation-div img {
    margin-top: 15px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    transition: width 250ms, height 250ms;
}

.animation-div:hover img {
    height: 165px;
    width: 170px;
}

.hidden-ul {
    margin-top: 15px;
    list-style: none;
    padding-left: 0;
    /*margin-bottom: 20px;*/
}


.item-style {
    margin-right:10px;
    margin-left: 10px;
    
}

.item-style::before {
    content: "\276F";
    margin-right: 10px;
    color: green;
}

.price-ul {
    list-style: none;
    margin-bottom: 0px;
    padding-left: 0;
    padding-top: 10px;
    /*margin-top: 10px;*/
    border-top: 1px solid rgba(0,0,0,.125) !important;
}

.price-li {
    font-size: 17px;
    margin-right: 10px;
    margin-left: 10px;
}

.board-btn {
    margin-top: 8px;
    padding-top: 15px;
    border-top: 1px solid rgba(0,0,0,.125) !important;
}

.item-price {
    font-size: 35px;
    margin-right: 10px;
    margin-left: 0;
}
.details-btn-ul {
    list-style: none;
    padding-left: 0;
    margin-top:20px;
}
.detail-btn-li {
    margin-top: 10px;
    
}

.detail-row {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}